/music_dir
/generated_vids
/__pycache__
/.idea
/personal_use
/data/Dockerfile
/data/logo.svg
/data/plans.xlsx
/data/todo.txt
/redditstories/__pycache__
/redditstories/generated_Rvids
/redditstories/mcGameplay.mp4
/redditstories/preview.html
.python-version
/data/background_music/*
/data/generated_videos/*
/data/background_videos/gta/*
/data/background_videos/minecraft/*
/data/background_videos/satisfying/*
/data/background_videos/subway/*
/data/voice_samples/*
/data/NOT_NEEDED